OPENAI_API_KEY="sk-..." #UPDATE

PYTHONPATH=.

# to disable that chromadb collects analytics data
ANONYMIZED_TELEMETRY=False

# the value is fast_api because the api's container service is defined with that name.
FASTAPI_DOCKER_SERVICE=fast_api
#OLLAMA_DOCKER_SERVICE=ollama # disabled ollama in a container because it is very slow to run on a CPU. And docker can't use Apple Silicon, apparently.
#use the ollama that runs on the host machine
OLLAMA_DOCKER_SERVICE=host.docker.internal

# Once langfuse is accessible from localhost:3000, thne get keys for your langfuse project from the project settings page.
LANGFUSE_BASE="langfuse-web" # because the service is defined like this in docker compose
LANGFUSE_BASE_URL="http://${LANGFUSE_BASE}:3000"
LANGFUSE_SECRET_KEY="sk-..." #UPDATE
LANGFUSE_PUBLIC_KEY="pk-..." #UPDATE
