.env

scenarist.ai*

*__pycache__

app/chroma/

.idea/
.DS_Store
.vscode/
app/screenplays/*!.pdf
logs/

.historical_artifacts/
sample_outputs/
.road_map.md
mlflow.db
app/data/optimized_scene_generator.json